nav a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 5px;   
    margin: 5px;
}


nav.inline {
    padding: 15px;
    border-radius: 6px;
    text-align: center;
}

nav.inline a {
    display: inline;
background-color: skyblue;   }


nav.block {
    padding: 15px;
    border-radius: 6px;
    width: 110px;      
}

nav.block a {
    display: block;   
        background-color: orange;

}

