body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.card-container {
  display: grid;
  gap: 20px;
  padding: 25px;
}

.card-container {
  grid-template-columns: 1fr;
}

@media (min-width: 480px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background: blue;
  padding: 30px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
